<!DOCTYPE html>
<html>
<head>
    <title>Add User - LupuVault</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon-x32.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generic.css') }}">
    
</head>
<body>
    <h2>Generated URLs</h2>
    <p>Click to copy the generated URL. The link will be active for 1 Hour. Send it to your friends</p>

    <h3>Normal User URL:</h3>
    <div id="urlField" class="copyable">{{ normalkeyurl }}</div>
    {% if adminkeyurl != "" %}
    </br>
    <h3>Admin User URL: (Single Use)</h3>
    <div id="urlFieldAdmin" class="copyable">{{ adminkeyurl }}</div>
    {% endif %}

    <script type="module" src="{{ url_for('static', filename='js/generic.js') }}"></script>
</body>
</html>